/* You can add global styles to this file, and also import other style files */
/* Hoja de estílos global */

body  {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
